.cfg
.ssh
.cache
.local
.histdb
.gnupg
.bash_history
.config/nvim/db_ui
*__pycache__*
![a-zA-Z]
.config/remmina
.config/Sharepoint_Dental-IT_i_Sverige_AB
.config/onedrive
.config/emacs
.config/baloofileinformationrc
.config/bluedevilglobalrc
.config/cef_user_data
.config/dconf
.config/dolphinrc
.config/drkonqirc
.config/emacs
.config/emacs2
.config/freerdp
.config/gtk-3.0
.config/gtk-4.0
.config/gtkrc
.config/gtkrc-2.0
.config/gwenviewrc
.config/JetBrains
.config/kactivitymanagerdrc
.config/kactivitymanagerd-statsrc
.config/kate
.config/katemetainfos
.config/katerc
.config/kateschemarc
.config/katevirc
.config/kcminputrc
.config/kconf_updaterc
.config/KDE
.config/kdeconnect
.config/kded5rc
.config/kdedefaults
.config/kdeglobals
.config/kde.org
.config/kglobalshortcutsrc
.config/khotkeysrc
.config/kmixrc
.config/konsolerc
.config/konsolesshconfig
.config/korgacrc
.config/krunnerrc
.config/kscreenlockerrc
.config/ksmserverrc
.config/ktimezonedrc
.config/kwalletrc
.config/kwinrc
.config/kwinrulesrc
.config/kxkbrc
.config/libaccounts-glib
.config/libreoffice
.config/mimeapps.list
.config/nemo
.config/NuGet
.config/nvmim_backup
.config/okularpartrc
.config/okularrc
.config/PlasmaDiscoverUpdates
.config/plasma.emojierrc
.config/plasma-localerc
.config/plasma-org.kde.plasma.desktop-appletsrc
.config/plasmashellrc
.config/plasma-workspace
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/pulse
.config/QtProject.conf
.config/session
.config/systemmonitorrc
.config/systemsettingsrc
.config/Trolltech.conf
.config/user-dirs.dirs
.config/user-dirs.locale
.config/xsettingsd
.config/Code - Insiders
.config/nvim/lazy-lock.json
